/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

/*Nav===================================================================================*/

/*navbar div*/
.navbar {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

a {
    color: #2D530C;
}

.btn-primary {
    color: #fff;
    background-color: #528f24;
    border-color: #1861ac;
}

    .btn-primary:hover {
        background-color: #89c058;
    }

a.dropdown-item:hover {
    color: #fff;
    background-color: #528f24;
}

a.nav-link {
    color: #2C520B;
    font-size: 16px;
}

    a.nav-link:hover {
        color: #89c058;
    }

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}


html {
    font-size: 14px;
}


.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .3);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

a#profile.nav-link.active,
a#email.nav-link.active,
a#change-password.nav-link.active,
a#two-factor.nav-link.active,
a#personal-data.nav-link.active {
    background: #528f24;
}

/*multi level dropdown*/

.dropdown-submenu {
    position: relative;
}

    .dropdown-submenu > .dropdown-menu {
        top: 0;
        left: 100%;
        margin-top: -6px;
        margin-left: -1px;
        -webkit-border-radius: 0 6px 6px 6px;
        -moz-border-radius: 0 6px 6px;
        border-radius: 0 6px 6px 6px;
    }

    .dropdown-submenu:hover > .dropdown-menu {
        display: block;
    }

    .dropdown-submenu > a:after {
        display: block;
        content: " ";
        float: right;
        width: 0;
        height: 0;
        border-color: transparent;
        border-style: solid;
        border-width: 5px 0 5px 5px;
        border-left-color: #ccc;
        margin-top: 5px;
        margin-right: -10px;
    }

    .dropdown-submenu:hover > a:after {
        border-left-color: #fff;
    }

    .dropdown-submenu.pull-left {
        float: none;
    }

        .dropdown-submenu.pull-left > .dropdown-menu {
            left: -100%;
            margin-left: 10px;
            -webkit-border-radius: 6px 0 6px 6px;
            -moz-border-radius: 6px 0 6px 6px;
            border-radius: 6px 0 6px 6px;
        }

/*Body==============================================================================*/

html {
    position: relative;
    min-height: 100%;
}

body,
td {
    color: #737373;
}

h1 {
    color: #2D530C;
    margin-top: 0;
    margin-bottom: 20px;
}
/*top link positioning to combat fixed footer*/
.anchor a {
    position: absolute;
    left: 0px;
    top: -150px;
}
.anchor {
    position: relative;
}
.searchBar {
    display: flex;
    justify-content: flex-end;
    margin-top: 150px;  /*required to clear fixed nav*/
}
.h1 {
    margin-top: 150px; /*required to clear fixed nav.
        couldn't use element h1 because some pages
        have the above search box as top element*/
}
.createLink {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 5px;
}

input.btn-primary {
    border: .5px solid #2C520B;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    height:100%;
    background: linear-gradient(rgba(0,0,0,0.1),rgba(255,255,255,.1));
}


thead {
    background: #528f24;
    color: white;
    margin-top: 10px;
}

a {
    color: #89c058;
}

    a:hover {
        color: #2C520B;
    }


/*Footer=================================================================*/
.footer {
    /*no-repeat center*/
    background: url(../images/footer4.png) no-repeat center;
    border: none;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

.top-link {
    display: flex;
    justify-content: flex-end;
}

/*Media Queries
    ==================================================================*/


@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}


    @media (min-width: 981px) {
        span.delete-icon {
            display: none;
        }

        span.delete-text {
            display: inline-block;
        }

        span.edit-icon {
            display: none;
        }

        span.edit-text {
            display: inline-block;
        }

        span.details-icon {
            display: none;
        }

        span.details-text {
            display: inline-block;
        }
    }

    @media (max-width: 980px) {
        span.delete-icon {
            display: inline-block
        }

        span.delete-text {
            display: none;
        }

        span.edit-icon {
            display: inline-block;
        }

        span.edit-text {
            display: none;
        }

        span.details-icon {
            display: inline-block;
        }

        span.details-text {
            display: none;
        }

        .footer span {
            visibility: hidden;
        }
    }
